<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sicaray.artspot">

    <!-- permissoes para acessar os arquivos do usuário -->
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- permissoes pra internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the Login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Permissões para o Google Maps Android API v2 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Chaves de acesso para APIs do Google e Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Activities -->
        <activity
            android:name=".activities.Vitrine"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.Entrar"
            android:label="@string/title_activity_entrar"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.CadastrarUsuario"
            android:label="@string/title_activity_cadastrar_usuario"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.CadastrarLocal"
            android:label="@string/title_activity_cadastrar_local"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.MeusLocais"
            android:label="@string/title_activity_meus_locais"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.MinhasPecas"
            android:label="@string/title_activity_minhas_pecas"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.CadastrarPeca"
            android:label="@string/title_activity_cadastrar_peca"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.ExibicaoPeca"
            android:label="@string/title_activity_exibicao_peca"></activity>

        <activity
            android:name=".activities.ExibicaoLocal"
            android:label="@string/title_activity_exibicao_local"></activity>

        <activity
            android:name=".activities.SugestoesLocais"
            android:label="@string/title_activity_sugestoes_locais"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.Configuracoes"
            android:label="@string/title_activity_configuracoes"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activities.TesteDebug"
            android:label="@string/title_activity_teste_debug"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"> </activity>

    </application>

</manifest>
